/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
#login {
    padding: 5% 0 0;
}
.login {
    background: url('../images/login-logo.png') no-repeat 20% 20% #f5f5dc;
}
.login h1 a {
  display: none; }

p#nav a,
p#backtoblog a {
    text-align: center;
    padding: 5px 10px;
    color: #fff !important;
    font-size: 1.10em;
    font-weight: normal;
    background: rgb(65, 65, 65);
    display: block;
    border-radius: 2px;
-webkit-transition: 350ms;
        transition: 350ms;}

p#nav a:hover,
p#nav a:focus,
p#backtoblog a:hover,
p#backtoblog a:focus{
    background: rgba(65, 65, 65, .8);}

p#nav,
p#backtoblog {padding: 5px 0 !important;}

p#backtoblog {
    margin: 0;
}

input#wp-submit {border: 0px solid transparent; margin-top: 2em; width: 100%; background: tomato; box-shadow: 0 0 0 0;
text-transform: uppercase; -webkit-transition: 350ms; transition: 350ms;}

input#wp-submit:hover {
    background: rgba(255, 99, 71, .8);
}
/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
/* login button*/
